
.post{
    
    background-color: lightblue;
    padding:10px;
    max-width: 700px;
    width: 100%;
    margin-bottom:30px;
}

.panel{
background-color:rgba(255,255,255,0.3);
padding:10px;
margin-bottom:20px;
}



.commentBox_container{
    background-color: rgba(255,255,255,0.3);
    padding:20px;
    margin-bottom:30px;
}
.commentBox{
    background-color: white;;
    width: 100%;
    resize: vertical;
    min-height: 200px;
    padding:7px;

    &:placeholder-shown{
        color:rgb(164, 164, 164);
    }
}


.toolbar{
display: flex;
justify-content: space-between;
}