

.title{
    color: #ffffff;
    font-size: 3.3em;
    font-weight: 700;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 13px;
    line-height: 
    42px;
}



.author{
    font-size: 0.8em;
    &::before{
        content: 'por ';
    }
}

.date{


    
    width: fit-content;
    color: #488397;
    font-size: 0.8em;
}

.commentBox_container{
    background-color: rgba(255,255,255,0.3);
    padding:20px;
    margin-bottom:30px;
}
.commentBox{
    background-color: white;;
    width: 100%;
    resize: vertical;
    min-height: 200px;
    padding:7px;

    &:placeholder-shown{
        color:rgb(164, 164, 164);
    }
}