:root {


    /* FUENTE GLOBAL */
    font-family: Arial, Helvetica, sans-serif;
  }

  /* ESTILO GLOBAL, HASTA CREAR COMPONENTES */
  .mel_button{
    background-color: #8ce593;
    border-radius: 3px;
    padding: 5px;
    font-size: 0.7em;
    border:1px solid #218a29;
    &:hover{
        cursor: pointer;
        background-color:#baffc0;
    }
  }

  .mel_button.red{
    background-color: #e5ad8c;
    
    border:1px solid #a2572b;
    &:hover{

        background-color:#b67149;
    }
  }



  input{
    background-color:white;
    border-radius:3px;
    border:1px solid green;
    padding: 4px 6px;
    width: 100%;
  }

  label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  hr {
    border: 1px solid;
    margin-bottom:30px;
  }

  .wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8abac9;
    
}